.container {
  width: 400px;
  /* height: 600px; */
  /* border: 2px solid red; */
  /* padding: 10px; */
  background-color: #111;
  border: 1px solid #222;
}

#display {
  color: #fff;
  font-size: 50px;
  text-align: right;
  padding: 5px;
}
.btn {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 1px solid #222;
}

#clear {
  background-color: white;
  color: #000;
}

.number {
  color: #fff;
  background-color: #101;
}

.operator {
  background-color: orange;
}

.btns {
  display: grid;
  grid-template-rows: repeat(5, 80px);
  grid-template-areas:
    'clear clear divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equals'
    'decimal zero zero equals';
}